
{
  "acronyms": ["ID", "URL", "UUID"],
  "allman": false,
  "allowPartialWrapping": true,
  "anonymousForEach": "convert",
  "assetLiterals": "visual-width",
  "asyncCapturing": true,
  "beforeMarks": true,
  "binaryGrouping": "none",
  "blankLineAfterSwitchCase": "multiline-only",
  "callSiteParen": "default",
  "categoryMark": "MARK: %c",
  "classThreshold": 0,
  "closingParen": "balanced",
  "closureVoid": "remove",
  "complexAttributes": "preserve",
  "computedVarAttributes": "preserve",
  "conditionalAssignment": "after-property",
  "conflictMarkers": "reject",
  "dateFormat": "system",
  "decimalGrouping": "none",
  "defaultTestSuiteAttributes": true,
  "docComments": "before-declarations",
  "elsePosition": "same-line",
  "emptyBraces": "no-space",
  "enumNamespaces": "always",
  "enumThreshold": 0,
  "equatableMacro": "none",
  "exponentCase": "lowercase",
  "exponentGrouping": "disabled",
  "extensionACL": "on-extension",
  "extensionMark": "MARK: - %t + %c",
  "extensionThreshold": 0,
  "fileMacro": "#file",
  "fractionGrouping": "disabled",
  "fragment": false,
  "funcAttributes": "preserve",
  "genericTypes": true,
  "groupBlankLines": true,
  "groupedExtension": "MARK: %c",
  "guardElse": "auto",
  "header": "ignore",
  "hexGrouping": "none",
  "hexLiteralCase": "lowercase",
  "ifdef": "indent",
  "importGrouping": ["alpha", "access-control"],
  "indent": 4,
  "indentCase": false,
  "indentStrings": false,
  "inferredTypes": "always",
  "initCoderNil": false,
  "lifecycle": true,
  "lineAfterMarks": true,
  "lineBetweenGuards": false,
  "linebreaks": "lf",
  "markCategories": true,
  "markClassThreshold": 0,
  "markEnumThreshold": 0,
  "markExtensionThreshold": 0,
  "markExtensions": "always",
  "markStructThreshold": 0,
  "markTypes": "always",
  "markdownFiles": "ignore",
  "maxWidth": "none",
  "modifierOrder": true,
  "neverTrailing": true,
  "nilInit": "remove",
  "noSpaceOperators": true,
  "noWrapOperators": true,
  "nonComplexAttributes": true,
  "octalGrouping": "none",
  "operatorFunc": "spaced",
  "organizationMode": "visibility",
  "organizeTypes": ["actor", "class", "enum", "struct"],
  "patternLet": "hoist",
  "preferSynthesizedInitForInternalStructs": "never",
  "preserveAcronyms": true,
  "preserveDecls": true,
  "preservedPropertyTypes": ["Package"],
  "propertyTypes": "infer-locals-only",
  "ranges": "spaced",
  "redundantAsync": "tests-only",
  "redundantThrows": "tests-only",
  "self": "insert",
  "selfRequired": true,
  "semicolons": "never",
  "shortOptionals": "preserve-struct-inits",
  "singleLineForEach": "ignore",
  "smartTabs": "enabled",
  "someAny": true,
  "sortSwiftUIProperties": "none",
  "sortedPatterns": true,
  "storedVarAttributes": "preserve",
  "stripUnusedArgs": "closure-only",
  "structThreshold": 0,
  "suiteNameFormat": "standard-identifiers",
  "tabWidth": "unspecified",
  "testCaseNameFormat": "raw-identifiers",
  "throwCapturing": true,
  "timezone": "system",
  "trailingClosures": true,
  "trailingCommas": "always",
  "trimWhitespace": "nonblank-lines",
  "typeAttributes": "preserve",
  "typeBlankLines": "remove",
  "typeBodyMarks": "preserve",
  "typeDelimiter": "space-after",
  "typeMark": "MARK: - %t",
  "typeMarks": true,
  "typeOrder": true,
  "urlMacro": "none",
  "visibilityMarks": true,
  "visibilityOrder": true,
  "voidType": "Void",
  "wrapArguments": "preserve",
  "wrapCollections": "preserve",
  "wrapConditions": "preserve",
  "wrapEffects": "preserve",
  "wrapEnumCases": "always",
  "wrapParameters": "default",
  "wrapReturnType": "preserve",
  "wrapStringInterpolation": "default",
  "wrapTernary": "default",
  "wrapTypeAliases": "preserve",
  "xcodeIndentation": "disabled",
  "xctestSymbols": true,
  "yodaSwap": "always"
}
